<div>
    <style>
        @scope {
            article {
                background-color: aliceblue;
            }
            p {
                background-color: rgb(198, 216, 255);
                padding: 1em;
                margin: 0;
            }
        }
    </style>
    <article>
        <h4>Title: {{ title }}</h4>
        <p>Content: {{ content}}</p>
        <p>Author: {{ author }}</p>
    </article>
</div>