<div>
    <style>
        @scope {
            article {
                background-color: aliceblue;
            }
            p {
                background-color: rgb(198, 216, 255);
                padding: 1em;
                margin: 0;
            }
        }
    </style>
    <article>
        <h4>Title: Special title</h4>
        <p>Content: This content is static</p>
        <p>Author: Mike</p>
    </article>
</div>